{% extends "blog/base.html" %}
{% load static %}

{% block title %}
    Every Little Thing{% if tag %} | {{ tag.name }}{% endif %}
{% endblock title %}

{% block content %}
    <h2 class="mb-4">
    {% if date %}
        Posts published on "{{ date|date:"M Y" }}"
    {% elif tag %}
        Posts tagged with "{{ tag.name }}"
    {% else %}
        All posts in this blog
    {% endif %}

    {% if query %} that contains "{{ query }}"{% endif %}</h2>

    {% if tag or query %}
        <h4> Found {{ total_results }} result{{ total_results|pluralize }} </h4>
    {% endif %}

    <div id="post-list" class="mb-5">
        {% include "blog/post/list_ajax.html" %}
    </div>
{% endblock content %}

{% block script %}
    <script src={% static 'blog/js/scroll.js' %}></script>
{% endblock script %}

