{% load blog_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Trirong' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Sacramento' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
</head>
<body>
    <nav id="header" class="navbar navbar-dark fixed-top flex-column d-inline">
        <div class="container flex-row justify-content-start">
            <a class="navbar-brand" href="{% url 'blog:post_list' %}">
                <img id="logo" class="d-inline" src="{% static 'blog/img/logo.png' %}" alt="Logo">
            </a>
        </div>
    </nav>
    <div id="content" class="container">
        <div class="row justify-content-center">
            <div class="col-md-11 col-lg-8">
                {% block content %} {% endblock content %} 
            </div>
            <aside class="col-md-7 col-lg-4">
                <div id="sidebar">

                    <div id="search">
                        <form method="get" class="form-inline">
                            {{ search_form.query }}
                            <input type="submit" value="Search" class="btn btn-primary">
                        </form>
                    </div> 

                    <div id="about">
                        <h2>About this site</h2>
                        <p>
                            Hello, I'm Christine and welcome to <span class="font-weight-italic">Every Little Thing</span>,
                            a personal blog I created to share my programming journey
                            (and some non-programming hobbies as well).
                        </p>
                        <p>
                            Thanks for visiting and hope you enjoy your time here. \(^_^)/
                        </p>
                    </div>

                    <div id="latest-posts">
                        <h2>Latest posts</h2>
                        {% show_latest_posts %} 
                    </div>
                    
                    <div id="archives">
                        <h2>Archives</h2>
                        {% show_archives %}
                    </div>
            </aside>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% block script %} {% endblock script %}
</body>
</html>